.header {
  padding: 64px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation--header {
  width: 62%;
}

.socials.socials--header {
  @include tablets {
    padding-right: 100px
  }
  @include phones {
    display: none;
  }
  &.socials--humburger {
    position: absolute;
    right: 0;
    top: 33%;
  }
}


