.nav {
  width: 60%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  display: block;
  color: $slate;
  transition: color .3s;
  &:hover {
    color: $slate-50;
    transition: color .3s;
  }
}