.navigation {
  width: 62%;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
}
.navigation__link {
  display: block;
  color: $slate;
  transition: color .3s;
  &:hover {
    color: $slate-50;
    transition: color .3s;
  }
}