.socials__list {
  display: flex;
}

.social__link {
  width: 25px;
  height: 25px;
  cursor: pointer;
  fill: $slate;
  transition: fill .3s;
  &:hover {
    fill: $blue-purple;
    transition: fill .3s;
  }
}

.socials__item {
  margin-right: 40px;
}