.utility {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.utility__title {
  font-size: 30px;
  font-weight: bold;
  color: $slate;
  margin-bottom: 60px;
}

.utility__content {
  display: flex;
}

.utility__image {
  position: relative;
  left: -7%;
}

.utility__pic {
  max-height: 627px;
}