script(type="text/x-template")#works-slider-container
  .works__content.active
    display(
      :works="works"
      :currentWork="currentWork"
      @slide="handleSlide"
    )
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#works-slider-display
  .works__slider
    img(:src="currentWork.photo").works__main-img
    thumbs(
      :works="works"
    )
    btns(
      @slide="direction => $emit('slide', direction)"
    )

script(type="text/x-template")#works-slider-thumbs
  ul.works__slider-list
    li.works__slider-item(v-for="work in works")
      button(type="button").works__slide-btn
        img(:src="work.photo").works__slide-btn-img

script(type="text/x-template")#works-slider-btns
  .works__slider-controls
    button(@click.prevent="$emit('slide', 'prev')").works__controls-btn.works__controls-btn--prev
      +icon('arrow', 'works__controls-btn-arrow')
    button(@click.prevent="$emit('slide', 'next')").works__controls-btn.works__controls-btn--next
      +icon('arrow', 'works__controls-btn-arrow')

script(type="text/x-template")#works-slider-info
  .works__info
    tags
    h3.works__info-title.subtitle {{currentWork.title}}
    .works__text {{currentWork.desc}}
    a(:href="currentWork.link").works__link Посмотреть сайт
script(type="text/x-template")#works-slider-tags
  ul.works__skills
    li.works__skill-name HTML
    li.works__skill-name CSS
    li.works__skill-name Javascript
