footer.footer
  .container.container--footer
    .footer__copyright
      .footer__year © 2019
      .footer__title Омелюхин Илья
      .footer__desc Личный сайт веб-разработчика
    .footer__content
      +nav('footer')
      .footer__about-wrap
        .footer__about
          .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
          +socials('footer')
        .footer__about
          blockquote.footer__quote-text
            p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
            cite.footer__quote-author Martin Golding