section.mainscreen
  .container
    include ./header.pug
    .mainscreen__content
      .mainscreen__message
        .mainscreen__message-wrap
          .mainscreen__desc Личный сайт<br>веб разработчика
          h1.mainscreen__title Омелюхин Илья
      a(href="#about").mainscreen__scroll Скролл
        +icon('scroll', 'mainscreen__scroll-icon')