section.parallax
  .parallax__layer(data-speed="0.1")
    +image("content/parallax1.jpg", "parallax__img")
  .parallax__layer(data-speed="0.25")
    +image("content/parallax2.png", "parallax__img")
  .parallax__layer(data-speed="0.45")
    +image("content/parallax3.png", "parallax__img")
  .parallax__layer(data-speed="0.38")
    +image("content/parallax4.png", "parallax__img")
  .parallax__layer(data-speed="0.45")
    +image("content/parallax5.png", "parallax__img")
  .parallax__layer(data-speed="0.48")
    +image("content/parallax6.png", "parallax__img")
  .parallax__layer(data-speed="0.1")
    +image("content/parallax7.png", "parallax__img")