mixin socials(mod)
  - var icons = [{name: "vk", link: "#"}, {name: "insta", link: "#"}, {name: "github", link: "#"}]

  ul(class=`socials socials--${mod}`)
    each icon in icons 
      li(class=`socials__item`)
        a(href=icon.link class=`socials__link`)
          - var icon = require(`images/icons/${icon.name}.svg`);
          svg(class="socials__link" viewBox=icon.viewBox preserveAspectRatio="none")
            use(xlink:href=icon.url)

+socials('header')
