section.works
  .container
    h2.works__title.title
    .works__content
      .works__slider
        //+image
        ul.works__slider-list
          li.works__slider-item
            //+image
        .works__slider-controls
          button.works__btn.works__btn--prev
          button.works__btn.works__btn--next
      .works__info
        .works__slider-num 2
        ul.works__skills
          li.works__skillname HTML
        h3.works__info-title.subtitle Сайт школы образования
        .works__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        .works__link Посмотреть сайт