@import "normalize.css";
@import url('../../styles/mixins');
@import url('../../styles/layout/base');
@import url('../../styles/main');
@import url('./blocks/*.pcss');
.container {
  max-width: 1200px;
}